@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

html{
  scroll-behavior: smooth;
}
body{
    font-family: "Lato", sans-serif;
    color: black;
    margin: 0;
}

/* //////////////////////////////////HEADER////////////////////////////////////// */
/* //////////////////////////////////HEADER////////////////////////////////////// */
/* //////////////////////////////////HEADER////////////////////////////////////// */
/* //////////////////////////////////HEADER////////////////////////////////////// */

/* Position des éléments dans le header */
#section-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Esthétique des éléments du header */
header{
  top: 0;
  position: sticky;
  font-family: "Libre Baskerville", serif;
  color: black;
  border-bottom: 1.5px solid black;
  z-index: 100;
  background-color: white;
 }

 .logo-header{
  height: 7rem;
  width: auto;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
 }

.nav-liens a{
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
}
.nav-liens a:hover{
  text-shadow: 1px 1px #f7c5ee;
}

.logo-reseaux a{
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  gap: 1.5rem;
  padding-right: 1rem;
}

/* //////////////////////////////////MAIN////////////////////////////////////// */
/* //////////////////////////////////MAIN////////////////////////////////////// */
/* //////////////////////////////////MAIN////////////////////////////////////// */
/* //////////////////////////////////MAIN////////////////////////////////////// */


/* //////////////////////////////////PAGE 1 - ACCUEIL////////////////////////////////////// */
/* //////////////////////////////////PAGE 1 - ACCUEIL////////////////////////////////////// */

/* Grid section accueil */
#section-accueil{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

/* Paramètres des photos mariage - accueil */
.photos-mariage{
grid-column: 1/2;
grid-row: 1;
display: flex;
justify-content: space-between;
align-items: center;
padding: 4rem;
}

/* Taille des images mariage + hover */
.photos-mariage img{
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  filter: grayscale(1);
}

.photos-mariage img:hover{
filter: grayscale(0);
transition: 1s;
}

/* Bouton accueil + h1 alignement */
.bouton-titre{
  grid-column: 1/2;
  grid-row: 2;
}

.bouton-titre h1{
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

/* Style des boutons pour toute la page !! */
.boutons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.boutons a{
    background-color: #f9e6e0;
    color: #000000;;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    padding: 0.8rem;
    margin: 1rem;
}

.boutons a:hover{
    background-color:#000000;
    color: #f9e6e0;
    transition: all ease 0.3s;
}

/* //////////////////////////////////PAGE 2 - ABOUT////////////////////////////////////// */
/* //////////////////////////////////PAGE 2 - ABOUT////////////////////////////////////// */

/* Grid section about */
#section-about {
  background-color: #f9e6e0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  align-items: center;
}

/* Titre sur toute la largeur, en haut */
#section-about h2 {
  grid-column: 1 / 4;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  margin: 6rem;
}

/* Image de gauche */
.photoanna {
  grid-column: 1 / 2;
  grid-row: 2;
  justify-self: center;
}

/* Image de droite */
.photoanna2 {
  grid-column: 3 / 4;
  grid-row: 2;
  justify-self: center;
}

/* Taille d'image */
#section-about img {
  max-height: 35rem;
  width: auto;
  height: auto;
  max-width: 100%;
}

/* Paragraphes au centre */
#section-about p {
  grid-column: 2 / 3;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

/* Boutons */
.boutons{
  grid-column: 2 / 3;
  grid-row: 2;
  margin-top: 6rem;
  text-align: center;
}

.texte-bouton{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/* //////////////////////////////////PAGE 3 - GALERIE////////////////////////////////////// */
/* //////////////////////////////////PAGE 3 - GALERIE////////////////////////////////////// */

/* Grid Galerie */
#section-galerie{
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  padding: 6rem;
  margin: 2rem;
}

/* Titre h2 */
#section-galerie h2 {
  grid-column: 1 / 5;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
}

/* Taille des images */
#section-galerie img{
  height: 20rem;
  width: 35rem;
  object-fit: cover;
}

/* Titre h3*/
#section-galerie h3{
 grid-column: 3/4;
 grid-row: 3/5;
 padding: 15%;
text-align: center;
}

/* Positionnement des images */
.fjord{
  grid-column: 2/3;
  grid-row: 2/3;
}

.cascade{
  grid-column: 2/3;
  grid-row: 3/4;
}

.lac{
  grid-column: 3/4;
  grid-row: 2/5;
}


/* //////////////////////////////////PAGE 4 - SERVICES////////////////////////////////////// */
/* //////////////////////////////////PAGE 4 - SERVICES////////////////////////////////////// */

/* Taille page et background */
#section-services{
  height: 100vh;
  background-color: #f9e6e0;
}

/* Titre h2*/
#section-services h2 {
  padding-top: 4rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
}
/* Titre h3 */
#section-services h3 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  padding-bottom: 3rem ;
}

/* Alignement des services */
#section-services .grille-services{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/* Grid services */
.grille-services{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  text-align: center;
}

/* Image des cartes */
.grille-services img{
  height: 200px;
  width: 300px;
  object-fit: cover;
  margin-top: 2rem;
}

/* Texte des cartes */
.grille-services p {
  margin: 1rem 1.5rem; /* haut/bas et gauche/droite */
}

/* Titre des cartes */
.grille-services h2 {
  margin-top: -5rem; 
  padding: 0.5rem 1rem;
  border-radius: 40px;
  text-align: center;
}
/* Carte 1,2,3,4,5 */
.carte-service1 {
  grid-column: 1 / 2;
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
}

.carte-service2 {
  grid-column: 2 / 3;
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.carte-service3 {
  grid-column: 3 / 4;
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.carte-service4 {
  grid-column: 4 / 5;
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.carte-service5 {
  grid-column: 5 / 6;
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.grille-services > div:hover {
  transform: scale(1.02); /* grossit légèrement */
  background-color: white; 
  transition: all 0.3s ease; /* animation douce */
}

/* //////////////////////////////////PAGE 5 - CONTACT////////////////////////////////////// */
/* //////////////////////////////////PAGE 5 - CONTACT////////////////////////////////////// */

/* Grid contact */
#section-contact{
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
    justify-self: center;
  align-self: center;
}

/* Titre h2 */
#section-contact h2 {
  grid-column: 1/3;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  padding: 2rem;
}
/* Titre h3 */
#section-contact h3 {
  grid-column: 1/3;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  padding-bottom: 3rem ;
}

/* image appareil photo */
#section-contact img{
  grid-column: 1/2;
  height: auto;
  width: 700px;
}

/* infos de contact */
#section-contact .infos-contact {
  padding-left: 10rem;
  text-align: center;
  padding-bottom: 4rem;
}

#section-contact .infos-contact a {
    text-decoration: none;
  color: black;
}


/* Formulaire */
#section-contact form {
  grid-column: 2/3;
  padding-left: 10rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 600px;
    width: 400px;
}

form input, form textarea{
    padding: 2.5%;
    border-radius: 10px;
    font-family: "Baloo 2", sans-serif;
    font-size: 1rem;
    border:solid 1px black;
}

form input{
  cursor: pointer;
}


form button{
  cursor: pointer;
  padding: 2.5%;
  border-radius: 10px;
  font-family: "Baloo 2", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: white;
  background-color: black;
}

form button:hover{
  background-color: #f9e6e0;
  color: black;
  transition: 0.3s;
}


/* //////////////////////////////////FOOTER////////////////////////////////////// */
/* //////////////////////////////////FOOTER////////////////////////////////////// */
/* //////////////////////////////////FOOTER////////////////////////////////////// */
/* //////////////////////////////////FOOTER////////////////////////////////////// */

.contenu-footer {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: #f9e6e0;
  color: black;
}

.footer-gauche {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Logo footer */
.logo-footer {
  height: 40px;
  margin-left: 1.5rem;
}

/* Copyright */
.footer-gauche p {
  margin: 0;
  font-size: 0.9rem;
}

/* RS */
.footer-droite a {
  color: #f9e6e0;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-droite a:hover {
  color: white; 
}
